@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-goldman-bold);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  font-family: var(--font-goldman-bold), sans-serif !important;
}

body {
  background: var(--background);
  color: var(--foreground);
}

*,
*::before,
*::after {
  font-family: var(--font-goldman-bold), sans-serif !important;
}
